:root{
    --green: #1ec6b6;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --trans: all 0.3s ease-in-out;
}
.navbar{
    position: fixed;
    top: 0;
    width: 99.1%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    
    
}
.navbar .container{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.site-brand{
    color: #fff;
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.95;
}
.site-brand span{
    font-weight: 300;
}
#navbar-show-btn{
    background: transparent;
    color: #fff;
    font-size: 2rem;
    opacity: 0.9;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    border: none;
}
#navbar-show-btn:hover{
    opacity: 1;
}

/* navbar side menu */


#navbar-close-btn:hover{
    background-color: #fff;
    color: var(--green);
}
.navbar-nav{
    margin-top: 5rem;
}
.nav-item{
    margin: 1.6rem 0;
}
.nav-link{
    color: #fff;
    font-size: 1.2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.nav-link:hover{
    opacity: 0.8;
}

/* header */
header{
    min-height: 100vh;
    padding-top: 7rem;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-bg.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/header-bg.jpg) center/cover no-repeat;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    text-align: center;
}

.header-title p{
    margin: 1.8rem auto;
    max-width: 700px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
}

.header-form{
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 0.2rem;
}
.header-form h3{
    font-size: 1.2rem;
}

.header-form input:not([type = "submit"])::-webkit-input-placeholder{
    color: #fff;
}
.header-form input:not([type = "submit"])::-moz-placeholder{
    color: #fff;
}
.header-form input:not([type = "submit"]):-ms-input-placeholder{
    color: #fff;
}
.header-form input:not([type = "submit"])::-ms-input-placeholder{
    color: #fff;
}
.header-form input:not([type = "submit"])::placeholder{
    color: #fff;
}
::-webkit-calendar-picker-indicator{
    -webkit-filter: invert(1);
            filter: invert(1);
}
.header-form .btn{
    margin-top: 0.8rem;
}

/* featured */
.featured-item{
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.featured-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.featured-item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    width: 100%;
    padding: 1rem;
    -webkit-transform: translateY(68%);
        -ms-transform: translateY(68%);
            transform: translateY(68%);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.featured-item-content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}
.featured-item-content .text{
    color: #fff;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.featured-item:hover .featured-item-content{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

/* services */
#services{
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/services-bg.jpg) center/cover no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/services-bg.jpg) center/cover no-repeat;
}
#services *{
    color: #fff;
}
.services-item{
    text-align: center;
    padding: 2rem 0.5rem;
    margin: 2rem 0;
}
.services-icon{
    font-size: 3.2rem;
}
.services-item h3{
    margin: 1rem 0;
    font-size: 1.6rem;
}
.services-item .btn{
    margin-top: 1.6rem;
    display: inline-block;
}

/* testimonials */
#testimonials{
    background-color: var(--light-grey);
}
.test-item{
    border: 2px solid var(--light-grey);
    padding: 2rem 1rem;
    position: relative;
    background-color: #fff;
    border-radius: 0.2rem;
    margin: 2rem 0 14rem 0;
}
.test-item::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
}
.test-item-info{
    position: absolute;
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
}
.test-item-info img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 1rem;
}
.test-item-info h3{
    font-size: 1rem;
}

/* video */
.video-wrapper{
    height: 500px;
    position: relative;
}
.video-wrapper video{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
#play-btn{
    position: absolute;
    z-index: 5;
    width: 70px;
    height: 70px;
    background-color: var(--green);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.8rem;
    padding-left: 0.4rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
#play-btn:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/* footer */
footer{
    background-color: var(--dark);
    color: #fff;
    text-align: center;
    position: relative;
}
footer::before{
    content: "";
    position: absolute;
    background-color: var(--green);
    height: 4px;
    top: 0;
    left: 0;
    width: 100%;
}
footer .site-brand{
    margin-bottom: 1.5rem;
    display: block;
    font-size: 2rem!important;
}
.footer-item{
    margin: 3rem 0;
}
.footer-item a{
    font-size: 1.2rem;
    color: #fff;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.footer-item a:hover{
    color: var(--green);
}
.footer-item ul{
    padding: 0;
}
.footer-item h2{
    margin-bottom: 1.4rem;;
}
.social-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.social-links li{
    margin: 0.5rem;
}
.footer-item:nth-child(3) li{
    margin: 0.5rem 0;
}
.footer-item:nth-child(3) a{
    display: inline-block;
    font-size: 1rem;
    opacity: 0.7;
}
.subscribe-form form{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.subscribe-form form input{
    width: 100%;
    max-width: 300px;
}
.subscribe-form .form-control{
    border-color: rgba(255, 255, 255, 0.3);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.subscribe-form .form-control:focus{
    border-color: #fff;
}
.subscribe-form form input[type = "email"]::-webkit-input-placeholder{
    color: #fff;
    opacity: 0.3;
}
.subscribe-form form input[type = "email"]::-moz-placeholder{
    color: #fff;
    opacity: 0.3;
}
.subscribe-form form input[type = "email"]:-ms-input-placeholder{
    color: #fff;
    opacity: 0.3;
}
.subscribe-form form input[type = "email"]::-ms-input-placeholder{
    color: #fff;
    opacity: 0.3;
}
.subscribe-form form input[type = "email"]::placeholder{
    color: #fff;
    opacity: 0.3;
}


html, body{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}
a{
    color: var(--dark);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
button, input[type = "submit"]{
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.text{
    font-weight: 400;
    opacity: 0.9;
    line-height: 1.6;
    letter-spacing: 1px;
}
.form-control{
    width: 100%;
    margin: 0.6rem 0;
    max-width: 500px;
    border: 1px solid #fff;
    border-radius: 0.2rem;
    padding: 0.7rem;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.btn{
    padding: 0.7rem 2.4rem;
    border-radius: 0.2rem;
    font-weight: 600;
    background-color: var(--green);
    color: #fff;
    border: 1px solid var(--green);
}
.btn:hover{
    opacity: 0.9;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}

/* css stop transition and animation */


.py-4{
    padding: 4rem 0;
}
img{
    width: 100%;
    display: block;
}
.title-wrap{
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.lg-title{
    font-size: 1.8rem;
}
.sm-title{
    display: block;
    color: #787878;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
}
.my-2{
    margin: 2rem 0;
}
.shadow:hover{
    -webkit-box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
            box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
}



@media screen and (max-width: 460px){
    .featured-item-content{
        -webkit-transform: translateY(68%);
            -ms-transform: translateY(68%);
                transform: translateY(68%);
    }
}

@media screen and (min-width: 678px){
    .test-item::after{
        left: 4rem;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .test-item-info{
        left: 1rem;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media screen and (min-width: 768px){
    .header-title p{
        font-size: 1.4rem;
    }
    .featured-row, .services-row, .footer-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .featured-item, .services-item{
        margin: 0;
    }
    .footer-row{
        text-align: left;
    }
    .social-links{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }
    .social-links li:nth-child(1){
        margin-left: 0;
    }
    .subscribe-form form{
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .gallery-row, .popular-row, .blog-row, .facts-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .gallery-item{
        margin: 0;
    }
    .popular-row, .facts-row{
        gap: 0;
    }
    .facts-row{
        -webkit-column-gap: 5rem;
           -moz-column-gap: 5rem;
                column-gap: 5rem;
    }
}
@media screen and (min-width: 992px){
    .header-title h1{
        font-size: 4rem;
    }
    .header-form form{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }
    .header-form .form-control, .header-form .btn{
        margin: 0 0.5rem;
    }
    /* navbar */
    #navbar-show-btn{
        display: none;
    }
    #navbar-collapse{
        display: block!important;
        background-color: transparent;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        height: auto;
        padding: 0;
        position: static;
        width: 100%;
    }
    #navbar-close-btn{
        display: none;
    }
    .navbar-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin: 0;
    }
    .nav-item{
        margin: 0;
        margin-left: 2rem;
    }
    /* change on scroll */
    .navbar-cng .navbar-nav .nav-link{
        color: var(--dark);
    }

    .test-row, .about-row, .contact-row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .popular-row, .blog-row{
        grid-template-columns: repeat(3, 1fr);
    }
    .about-row{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .about-left{
        margin: 0;
    }
    .facts-row{
        grid-template-columns: repeat(4, 1fr);
    }
    .contact-row{
        row-gap: 0;
    }
    .contact-form .form-control{
        margin-left: 0;
    }
    .contact-form .form-control:nth-child(1){
        margin-top: 0;
    }
    .contact-right{
        margin: 0;
    }
    .contact-form .btn{
        margin-left: 0;
    }
    .contact-icon{
        width: 45px;
        height: 45px;
        font-size: 1.4rem;
        margin: 0 1rem;
    }
    .contact-item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        text-align: left;
    }
    .contact-item:nth-child(1){
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px){
    .test-row, .gallery-row{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-row, .popular-row{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1400px){
    .featured-row, .services-row{
        grid-template-columns: repeat(3, 1fr);
    }
}